body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(246, 246, 246);
	height: 100%;
	width: 100%;
}

code {
	font-family: "poppins ", monospace;
}
@media screen and (max-width: 800px) {
	.footer {
		width: 104%;
	}
	button.submit {
		width: 48%;
	}
	h2.btn-txt {
		font-size: 1rem;
		padding: 2%;
	}
}
.hidden {
	display: none;
}
@font-face {
	font-family: "poppins";
	src: url(./Poppins-Regular.ttf);
}
